<div class="content-wrapper">
	<h1>Welcome to Backbone Marionette App</h1>

	<div class="learn-more">
		<a class="btn btn-primary btn-large" href="https://github.com/shek8034/backbone-marionette-template.git">Learn more</a>
	</div>

	<div id="first-region"></div>

	<div id="second-region"></div>
</div>
